@import '../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.driver-list,.vehicle-list,.message-list,.location-list,.user-list{
  width:100%;
  list-style: none;
  li{
    margin: 4px 0;
    span {
      line-height: 20px;
      display: inline-block;
      padding: 0 5px 0 0;
        &:last-child{
        padding: 0;
      }
    }

    span.message-button, span.locate-button{

    }
    span.edit-delete-button{

    }

  }
  li:nth-child(odd) {
    background-color: linen;
  }

}
.message-list,.location-list {
  width:100%;
}
.user-list{
  width:100%;
  li > span.name{
    padding: 0 2px;
  }
}
.list-panel.scroll-panel {
  overflow:auto;
  height:200px;
}
.tab-content .tab-pane {
  margin-top: 15px;
}
span.edit-btn{
  min-width:35px;
}

.gm-map {
  display:block;
  width: 100%;
  height: 300px;
  .login-control {
    display: none;
  }
}

.input-group{
  display:table;
  input {
    display: table-cell;
    position: relative;
    width: 100%;
    &:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
.input-group-button{
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  &:last-child .btn{
    margin-left:-1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

