@import '../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.driver-list,.vehicle-list,.message-list,.location-list,.user-list{
  width:100%;
  list-style: none;
  li{
    margin: 4px 0;
    white-space: nowrap;


    span {
      line-height: 20px;
      display: inline-block;
      padding: 0 2px 0 0;
      vertical-align: top;
      margin: 0;
      border-width: 0;

      &.pull-right, &.delete-button, &.edit-button, &.locate-button, &.message-button, &.view-button{
        padding:0;
      }
      &.delete-button{
        width:48px;
      }
      &.edit-button{
        width:34px;
      }
      &.locate-button{
        width:45px;
      }
      &.message-button{
        width:58px;
      }
      &.view-button{
        width:39px;
      }
    }

    .line_fluid_column{
      overflow: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      white-space: nowrap;
      .overflow_container {
        overflow: hidden;
        white-space: nowrap;
        padding: 0 2px 0 2px;
        .overflow_ellipsis_active{
          position: relative;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          /* Starting transition */
          left: 0%;
          width: 100%;

          /* animation parameters */
          -webkit-transition: left 3s, width 3s;
          -moz-transition: left 3s, width 3s;
          transition: left 3s, width 3s;

        }

        &:hover .overflow_ellipsis_active {
          /* This is not completely accurate. It will resize to 2x the current width. */
          left: -100%;
          width: 200%;
        }
      }
    }
  }
  li:nth-child(odd) {
    background-color: linen;
  }
  li.selected {
    background-color: lightblue;
  }
}
.message-list,.location-list {
  width:100%;
}
.user-list{
  width:100%;
  li > span.name{
    padding: 0 2px;
  }
}
.list-panel.scroll-panel {
  overflow:auto;
}
.tab-content .tab-pane {
  margin-top: 15px;
}

.gm-map {
  display:block;
  width: 100%;
  height: 300px;
  .login-control {
    display: none;
  }
}

.input-group{
  display:table;
  input {
    display: table-cell;
    position: relative;
    width: 100%;
    &:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
.input-group-button{
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  &:last-child .btn{
    margin-left:-1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.conversation_container,.messages_container {
  display:block;
  width:100%;
  .container_row {
    display: table;
    width:100%;
  }
}


#driver_conversation {
  padding: 0;

  .message_to_panel, .message_from_panel, .conversation_panel {
    display: block;
  }
  .conversation_panel {
    height:300px;
    overflow:auto;
    width:100%;

    .jspVerticalBar{
      background: transparent;
      border-radius: 4px;
    }
    .jspTrack{
      border-radius: 4px;
      background-color: aliceblue;

      .jspDrag{
        border-radius: 4px;
        background-color: #337ab7;
        border-color: #2e6da4;
      }
    }

  }
  .message_from_panel {
    right: 16px;
  }
  .message_from_panel, .delivered, .queued, .sent {
    background-color: lightblue;
  }
  .message_to_panel, .received  {
    background-color: palegoldenrod;
  }
  .message_text, .message_to_panel, .message_from_panel {
    border-radius: 4px;
    margin: 5px;
  }
  .message_to_panel, .message_from_panel {
    width: 25px;
    position: fixed;
    height: 300px;
    margin: 0;
    top:72px;
    .rotation_container {
      position: relative;
      .header_text {
        position: absolute;
        transform: rotate(270deg);
        white-space: nowrap;
        transform-origin: left top;
        top: 150px;
      }
    }
  }
  .messages_container {
    padding:0 26px;
    width:100%;

    .message_text {
      padding: 5px 10px;
      position:relative
    }
    .received{
      float: left;
      &:before{
        content:'';
        position:absolute;
        width: 0;
        height:0;
        border-style: solid;
        left: -15px;
        top: 10px;
        border-width: 4px 8px;
        border-color: transparent palegoldenrod transparent transparent;
      }
    }
    .delivered, .queued, .sent {
      float: right;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        right: -15px;
        top: 10px;
        border-width: 4px 8px;
        border-color: transparent transparent transparent lightblue;
      }
    }
    .queued{
      background-color: white;
      border: lightblue 1px dashed;
    }
    .sent{
      background-color: aliceblue;
      border: lightblue dotted 1px;

    }
    .delivered{
      border: none;
      background-color: lightblue;
    }
  }
}

