@import '../bower/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

.driver-list,.vehicle-list,.message-list,.location-list,.user-list{
  width:800px;
  list-style: none;
  li{
    margin: 4px 0;
  }
  li > span {
    display:inline-block;
    padding: 0 2px;
  }
  li > span.name , li > span.phone-number , li > span.detail1 {
    padding:0 0 2px 0;
    line-height: 20px;
  }
  li > span.name {
    overflow: hidden;
    & > span {
      padding: 0 2px 0 0;
    }
  }
  li:nth-child(odd) {
    background-color: linen;
  }

}
.message-list,.location-list {
  width:500px;
}
.user-list{
  width:100%;
  li > span.name{
    padding: 0 2px;
  }
}
.list-panel.scroll-panel {
  overflow:auto;
  height:200px;
}
.tab-content .tab-pane {
  margin-top: 15px;
}
span.edit-btn{
  min-width:35px;
}

#map-canvas{
  height:400px;
}
.input-group{
  display:table;
  input {
    display: table-cell;
    position: relative;
    width: 100%;
    &:first-child{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
.input-group-button{
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  &:last-child .btn{
    margin-left:-1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

